.library-container-main{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;

    padding-bottom: 10%;
}
.library-container-main .library-container-content{
    width: 100%;
    max-width: 1000px;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}   
.library-container-main .library-search-main{
    width: 400px;
    height: 70px;

    display: flex;

    position: relative;
}
.library-container-main .library-search-main .search-input{
    width: 100%;
    height: 100%;

    display: flex;
    
    position: relative;
}
.library-container-main .library-search-main .search-input input{
    width: 100%;
    height: 100%;

    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    border-radius: 1000px;
    outline: none;
    padding: 0 20px;

    font-size: 18px;
    font-weight: 500;
    line-height: 24.16px;

    color: #fff;
}
.library-container-main .library-search-main .search-input input::placeholder{
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    letter-spacing: -0.02em;
    
    background: linear-gradient(160.18deg, rgba(255, 255, 255, 0.7) 23.37%, rgba(153, 153, 153, 0.7) 76.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding-right: 70px;
}
.library-container-main .library-search-main .search-input .search-input-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1;

    width: 50px;
    height: 50px;
}
.library-container-main .library-search-main .search-input .search-input-icon svg{
    width: 100%;
    height: 100%;
}
.library-container-main .library-content-wrapper{
    width: 100%;
    height: 175vh;
    display: flex;
    gap: 20px;
}
.library-container-main .library-category-main{
    width: 300px;
    height: 100%;

    display: flex;

    background: radial-gradient(228.97% 751.57% at -44.38% -73.06%, rgba(255, 106, 0, 0.02) 0%, rgba(255, 106, 0, 0.02) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;

    padding: 30px 15px;

    overflow-y: auto;
    overflow-x: hidden;
}
.library-container-main .library-category-main .category-items{
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.library-container-main .library-category-main .category-item{
    width: 100%;
    height: max-content;

    display: flex;
    align-items: center;
    gap: 15px;

    cursor: pointer;
}
.library-container-main .library-category-main .category-item .item-label{
    font-size: 16px;
    font-weight: 400;
    line-height: 20.68px;
    letter-spacing: -0.02em;
    text-align: left;

    background: linear-gradient(160.18deg, #FFFFFF 23.37%, #999999 76.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

    transition: all .25s;
}

.library-container-main .library-category-main .category-item-selected .item-label{
    font-weight: 600;

    background: linear-gradient(180deg, #FF6A00 0%, #FFD6B9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.library-container-main .library-category-main .category-item .item-icon{
    width: 40px;
    height: 40px;
}
.library-container-main .library-category-main .category-item .item-icon svg{
    width: inherit;
    height: inherit;
}
.library-container-main .library-category-main .category-item .item-icon svg path{
    fill: #fff;
}
.library-container-main .library-category-main .category-item-selected .item-icon svg path{
    fill: #FF6A00;
}
.library-container-main .library-records-main{
    width: calc(100% - 320px);
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.library-container-main .library-years-filter{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.library-container-main .library-years-filter .filter-arrow-left,
.library-container-main .library-years-filter .filter-arrow-right{
    width: 50px;
    height: 50px;

    cursor: pointer;
}
.library-container-main .library-years-filter .filter-arrow-right svg,
.library-container-main .library-years-filter .filter-arrow-left svg{
    width: 50px;
    height: 50px;

    cursor: pointer;
}

.library-container-main .library-years-filter .filter-arrow-right{
    transform: rotate(180deg);
}
.library-container-main .library-years-filter .filter-years{
    width: calc(100% - 130px);
    height: 100%;

    display: flex;
    align-items: center;
    padding: 0 10px;

    backdrop-filter: blur(100px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    overflow-x: auto;
    overflow-y: hidden;
}
.library-container-main .library-years-filter .filter-years::-webkit-scrollbar{
    width: 0;
    display: none;
}

.library-container-main .library-years-filter .filter-years-items{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.library-container-main .library-years-filter .filter-year{
    width: max-content;
    height: 80%;

    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    letter-spacing: -0.02em;
    text-align: center;

    border-radius: 1000px;

    background: linear-gradient(160.18deg, rgba(255, 255, 255, 0.7) 23.37%, rgba(153, 153, 153, 0.7) 76.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all .25s ;
}
.library-container-main .library-years-filter .filter-year-selected{

    font-weight: 600;

    border: 1px solid rgba(255, 255, 255, 0.2);

    background: radial-gradient(228.97% 751.57% at -44.38% -73.06%, rgba(255, 106, 0, 0.05) 0%, rgba(255, 106, 0, 0.05) 100%);
    -webkit-background-clip:border-box;
    -webkit-text-fill-color:#fff;
    display: flex;
    color: #fff;
}
.library-container-main .library-records-container{
    width: 100%;
    height: calc(100% - 80px);
   
    display: flex;

    background: radial-gradient(228.97% 751.57% at -44.38% -73.06%, rgba(255, 106, 0, 0.02) 0%, rgba(255, 106, 0, 0.02) 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;

    padding: 30px;
    
    overflow-y: auto;
    overflow-x: hidden;
}
.library-container-main .library-records-container .records-items{
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.library-container-main .library-records-container .records-item{
    width: 100%;
    height: max-content;

    display: flex;
    /* align-items: center; */
    gap: 5px;
    cursor: pointer;
}
.library-container-main .library-records-container .records-item .label{
    font-size: 18px;
    font-weight: 500;
    line-height: 22.68px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;

    color: #C3C3C3;

}
.library-container-main .library-records-container .records-item .icon{
    width: 16px;
    height: 16px;
}
.library-container-main .library-records-container .records-item .icon svg{
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 1000px) {

    .library-container-main .library-search-main{
        width: 90%;
        height: 50px;
        
    }
    .library-container-main .library-search-main .search-input .search-input-icon{
        width: 35px;
        height: 35px;
    }
    .library-container-main .library-content-wrapper{
        flex-direction: column;
        height: max-content;
    }
    .library-container-main .library-category-main{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 15px;
        border: none;
        background: none;
    }
    .library-container-main .library-category-main::-webkit-scrollbar{
        width: 0;
        display: none;
    }
    .library-container-main .library-category-main .category-items{
        width: max-content;
        flex-direction: row;
    }
    .library-container-main .library-category-main .category-item .item-label{
        white-space: nowrap;
    }
    .library-container-main .library-records-main{
        width: 100%;
    }
    .library-container-main .library-years-filter .filter-arrow-left, 
    .library-container-main .library-years-filter .filter-arrow-right{
        display: none;
    }
    .library-container-main .library-years-filter .filter-years{
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .library-container-main .library-years-filter .filter-years::-webkit-scrollbar{
        width: 0;
        display: none;
    }
    .library-container-main .library-years-filter .filter-year{
        font-size: 14px;
        white-space: nowrap;
    }
    .library-container-main .library-records-container{
        height: max-content;
        padding: 20px;
        border-radius: 20px;
    }
    .library-container-main .library-records-container .records-item .label{
        font-size: 14px;
    }
    .library-container-main .library-records-container .records-item .icon{
        width: 12px;
        height: 12px;
    }
}
